@import "tailwindcss";
* {
  font-family: "Quicksand", sans-serif;
}

@theme {
  /* from-[#272647] to-[#071025] */
  --color-from: #272647;
  --color-to: #071025;
  --color-primary-50: #f2f3fb;
  --color-primary-100: #e7e9f8;
  --color-primary-200: #d4d6f1;
  --color-primary-300: #babde7;
  --color-primary-400: #9e9ddc;
  --color-primary-500: #8c85cf;
  --color-primary-600: #7a6cbf;
  --color-primary-700: #6a5ba7;
  --color-primary-800: #564b88;
  --color-primary-900: #49426d;
  --color-primary-950: #302b47;

  --color-accent-50: #fff0f0;
  --color-accent-100: #ffdedf;
  --color-accent-200: #ffc3c5;
  --color-accent-300: #ff9a9d;
  --color-accent-400: #ff5f64;
  --color-accent-500: #ff2e35;
  --color-accent-600: #f40e16;
  --color-accent-700: #de080f;
  --color-accent-800: #aa0a0f;
  --color-accent-900: #8c1014;
  --color-accent-950: #4d0204;
}
