---
import Subtitle from "../Generals/Subtitle.astro";
import Link from "../Generals/Link.astro";
---

<section class="pt-26" id="about">
  <Subtitle label="Sobre mí" />
  <div class="">
    <h3 class="text-4xl mb-6">Hola, soy Kathe 👋</h3>
    <p class="text-lg lg:text-xl text-primary-200 mb-5">
      Desarrolladora web freelance y analista de procesos. Ayudo a empresas a
      digitalizar tareas repetitivas, crear herramientas personalizadas y
      automatizar procesos para que puedan trabajar mejor y más liviano.
    </p>
    <p class="text-lg lg:text-xl text-primary-200 mb-10">
      Me encanta entender cómo funcionan los procesos, encontrar esos puntos
      donde se pierde tiempo o energía... y crear algo que los resuelva.
    </p>
    <Link label="Conoce más sobre mí" href="/about" />
  </div>
</section>
